.trade__container {
  display: flex;
  min-height: calc(100vh - 125px);
  flex-direction: column;
  padding: 28px 120px;
  gap: 20px;
  background-color: #e3e3e3;
}

.trade__container h2 {
  align-self: center;
  padding-bottom: 20px;
}

.trade__infos {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.trade__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.trade__card p:nth-of-type(1) {
  width: 30%;
}
.trade__card p:nth-of-type(2) {
  width: 40%;
}
.trade__card p:nth-of-type(3) {
  width: 30%;
}

@media (max-width: 425px) {
  .trade__container {
    padding: 30px 50px;
  }
  .trade__card {
    flex-direction: column;
    gap: 0;
  }
  .trade__infos {
    gap: 2rem;
  }
  .trade__card p {
    padding-bottom: 5px;
  }
  .trade__card p:nth-of-type(1) {
    width: 100%;
  }
  .trade__card p:nth-of-type(2) {
    width: 100%;
  }
  .trade__card p:nth-of-type(3) {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 900px) {
  .trade__container {
    padding: 30px 150px;
  }

  .trade__container h2 {
    padding-bottom: 15px;
  }
  .trade__infos {
    gap: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .trade__card {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .trade__card p {
    padding-bottom: 5px;
  }
  .trade__card p:nth-of-type(1) {
    width: 100%;
  }
  .trade__card p:nth-of-type(2) {
    width: 100%;
  }
  .trade__card p:nth-of-type(3) {
    width: 100%;
  }
}
