.trade__container {
  display: flex;
  min-height: calc(100vh - 125px);
  flex-direction: column;
  padding: 28px 250px;
  gap: 20px;
  background-color: #e3e3e3;
}

.trade__container h2 {
  align-self: center;
  padding-bottom: 20px;
}

.trade__infos {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.trade__card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.trade__card p {
  margin-bottom: 10px;
}

@media (max-width: 425px) {
  .trade__container {
    padding: 30px 50px;
  }
  .trade__card {
    flex-direction: column;
    gap: 0;
  }
  .trade__infos {
    gap: 2rem;
  }
}

@media (min-width: 426px) and (max-width: 900px) {
  .trade__container {
    padding: 30px 150px;
  }

  .trade__container h2 {
    padding-bottom: 15px;
  }
  .trade__infos {
    gap: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .trade__card {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
