.rodape {
  background-color: white;
  color: black;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;
}

.text {
  text-align: center;
  text-decoration: none;
  color: black;
}

@media (max-width: 425px) {
  .rodape {
    column-gap: 1.5rem;
  }
}

@media (min-width: 426px) and (max-width: 900px) {
}
