.cabecalho {
  display: flex;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 7px 100px;
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-area img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}

.logo-area .logo-text {
  text-decoration: none;
  color: black;
  background-color: #e3e3e3;
}

.text {
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #e3e3e3;
}

.action-area {
  display: flex;
  gap: 16px;
  align-items: center;
}
.search-input {
  position: relative;
}

.icon {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.search-input input {
  padding: 4px 16px 4px 51px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #746b6b;
  width: 600px;
}

.search-input-lupa:hover {
  cursor: pointer;
}

@media (max-width: 425px) {
  .cabecalho {
    padding: 5px 15px;
  }
  .logo-area img {
    margin-right: 5px;
  }
  .search-input input {
    width: 110px;
  }
}

@media (min-width: 426px) and (max-width: 900px) {
  .cabecalho {
    padding: 10px 28px;
    justify-content: flex-start;
  }
  .logo-area {
    padding-right: 30px;
    padding-left: 15px;
  }
  .search-input {
    padding-right: 25px;
  }
  .search-input input {
    width: 400px;
  }
  .text {
    text-decoration: none;
    color: black;
  }

  .action-area {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-left: 50px;
  }
}
