.book__page {
  min-height: calc(100vh - 58px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e3e3e3;
}

.book__page__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.book__page__img img {
  width: 362px;
  height: 562px;
}

.book__page__btn {
  font-size: 15px;
  width: 300px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(2, 196, 254);
  text-decoration: none;
}

.book__page__img h3 {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-size: 25px;
  padding-top: 10px;
}

.book__page__btn:hover {
  cursor: pointer;
}

@media (max-width: 425px) {
  .book__page {
    min-height: 100vh;
    flex-direction: column;
  }
  .book__page__img {
    padding: 0px 0;
  }
  .book__page__img img {
    width: 200px;
    height: 300px;
  }

  .book__page__img h3 {
    font-size: 20px;
  }

  .book__page__info {
    padding-left: 30px;
    gap: 25px;
  }
}

@media (min-width: 426px) and (max-width: 900px) {
  .book__page__img img {
    width: 300px;
    height: 450px;
  }
  .book__page {
    justify-content: space-between;
    padding: 0 50px;
  }

  .book__page__info {
    gap: 30px;
    padding-left: 40px;
  }

  .book__page__info {
    font-size: 16px;
  }
}
