.book__page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e3e3e3;
  flex-grow: 1;
}

.book__page__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.book__page__img img {
  width: 362px;
  height: 562px;
}

.book__page__btn {
  font-size: 15px;
  width: 300px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(2, 196, 254);
  text-decoration: none;
}

.book__page__img h3 {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-size: 25px;
}
