.search__container {
  min-height: calc(100vh - 58px);
  background-color: #e3e3e3;
  padding: 58px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.search__container h1 {
  align-self: center;
}

.search {
  display: flex;
  flex-wrap: wrap;
}

.search__book {
  width: 140px;
  margin-right: 33px;
  margin-bottom: 20px;
}

.search__book img {
  width: 140px;
  height: 183px;
}
.search__book p {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 1.5rem;
  word-break: break-word;
}
