.editbook__container {
  width: 100%;
  min-height: calc(100vh - 125px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color: #e3e3e3;
}

.edit__wrap {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 50px 30px 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.image__btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(188, 192, 193);
  text-decoration: none;
  width: 50%;
}

.edit__book__frame {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.edit__book__frame img {
  width: 400px;
}

.edit-form-title {
  display: block;
  font-size: 30px;
  color: black;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 40px;
}

.container-edit-form-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 13px;
}

.edit-form-btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(2, 196, 254);
  text-decoration: none;
}

.edit-form-btn:hover {
  cursor: pointer;
}

@media (max-width: 425px) {
  .editbook__container {
    padding: 10px 30px;
  }
  .edit__book__frame img {
    width: 250px;
    padding: 25px 0;
  }

  .edit__wrap {
    padding: 20px;
  }
}

@media (min-width: 426px) and (max-width: 900px) {
  .editbook__container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 50px;
  }
  .edit__book__frame {
    margin-right: 30px;
  }
  .edit__book__frame img {
    width: 300px;
  }
  .edit__wrap {
    padding: 20px 25px;
  }
}
