@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
}

.credit-area__container {
  display: flex;
  min-height: calc(100vh - 125px);
  align-items: center;
  justify-content: center;
  background: #e3e3e3;
}

.wrap-addTrade {
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px;

  padding: 50px 40px 30px 40px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  font-size: 30px;
  color: black;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #000000;
  margin-bottom: 37px;
}

.wrap-input-senha {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #000000;
}

.input {
  font-size: 15px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #000000;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000000;
}

.focus-input::after {
  font-size: 15px;
  color: #000000;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
}

.input:focus {
  outline: 0;
}

.input:focus + .focus-input::after {
  top: -15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.has-val + .focus-input::after {
  top: -15px;
}
.has-val + .focus-input::before {
  width: 100%;
}
.container-login-form-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(2, 196, 254);
  text-decoration: none;
}

.login-form-btn:hover {
  cursor: pointer;
}

.search__trade__container {
  position: relative;
}
.search__trade__container input {
  width: 90%;
}
.searchResult {
  z-index: 99;
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  overflow-y: auto;
  max-height: 300px;
}

.searchResult p:hover {
  color: aqua;
  cursor: pointer;
}

.search__icon {
  position: absolute;
  right: 0;
  top: 4px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .wrap-addTrade {
    margin: 0 10px;
  }
}
